<div class="container">
  <br>
  <div class="wow animated fadeIn" data-wow-delay="0.1s">
    <h2 class="mealplan-title mealplan-title-bottom-padding text-center">How to Diet like a Boss</h2>
    <hr class="form-divider">
  </div>

<div class="info-button-holder">
  <div class="col-xs-4 text-center btn-lg btn btn-danger", id="mealprep-button">
    Mealprep
  </div>
  <div class="col-xs-4 text-center btn-lg btn btn-danger", id="macros-button">
    Macros
  </div>
  <div class="col-xs-4 text-center btn-lg btn btn-danger", id="faq-button">
    FAQ
  </div>

</div>

  <div id="mealprep-info", class="text-center">
    <h2>
      Info about mealprep is gonna be right here!
    </h2>
  </div>

  <div id="macros-info", class="text-center">
    <h2>
      Info about macros is gonna be right here!
    </h2>
  </div>
  <div id="faq-info", class="text-center">
    <h2>
      Ask me questions, I'l post answers.
    </h2>
  </div>

</div>
