<div class="container">
  <br>
  <div class="wow animated fadeIn" data-wow-delay="0.1s">
    <h2 class="mealplan-title mealplan-title-bottom-padding text-center">How to Mealprep like a Boss</h2>
    <hr class="form-divider">
  </div>


  <div class="wow animated fadeIn" data-wow-delay="0.2s">
    <span class="bigger-text">
    <%= simple_format(@food_basics) %>
    </span>
  </div>

</div>
