<div class="container">
  <br>
  <div class="wow animated fadeIn" data-wow-delay="0.1s">
    <h2 class="mealplan-title mealplan-title-bottom-padding text-center">Coming Soon to mealslice.com</h2>
    <hr class="form-divider">
  </div>


  <div class="wow animated fadeIn" data-wow-delay="0.2s">
    <span class="bigger-text">
      Videos explaining what macros are, what is going to make or break your progress (and what isn't), how to measure your food easily, etc. <br><br>
      Feel free to ask me any questions or contact me at bsimmonsn (at) gmail (dot) com, I'll be more than happy to help.

    </span>
  </div>

</div>
