<div class="container">
  <br>
  <div class="wow animated fadeIn" data-wow-delay="0.1s">
    <h2 class="mealplan-title mealplan-title-bottom-padding text-center">How to...</h2>
    <hr class="form-divider">
  </div>

<div class="info-button-holder">
  <div class="col-xs-4 text-center btn btn-danger", id="mealprep-button">
    Mealprep
  </div>
  <div class="col-xs-4 text-center btn btn-danger", id="macros-button">
    Macros
  </div>
  <div class="col-xs-4 text-center btn btn-danger", id="faq-button">
    FAQ
  </div>

</div>

  <div class="container" id="mealprep-info">
    <h3 class="text-center"> Meal Prep Rules: </h3>

    <ul>
    <li>Keep it simple.</li>
    <li>Prep meals once or twice a week.</li>
    <li>Follow this 5~6 days of the week, and don't totally binge on your off day.</li>
    <li>Eat veggies with two of your meals every day.</li>
    <li>Eat fruit as one of your carb portions every day.</li>
    <li>One third (rounding down) of your Protein portions come from Fatty Proteins, the rest from Lean Proteins.
  </ul>
   <hr>
    <h3 class="text-center">What are portions and why?</h3>
    <p>
    <p> A portion is a set amount of food weighed in grams that is equivalent to roughly 25g of either protein or carbs and has about 120~140kcals. </p>
      <strong>Portions are always weighed raw</strong>, and their intention is to make meal prepping and diet adjustments super freaking easy. <br>
    </p>

    <div class="portions-container">
      <div class="protein-portions col-xs-12 col-sm-6 text-center">
        <h4>1 Portion of Protein is:</h4>

          125g of Chicken, Fish, Beef or Turkey <br>
          1 Cup of Egg Whites <br>
          1 Scoop of Protein Supplement <br>

      </div>
      <div class="carb-portions col-xs-12 col-sm-6 text-center">
        <h4>1 Portion of Carbs is:</h4>

          30g of any Rice, Oats or Pasta <br>
          130g Sweet or regular Potato  <br>
          1 Slice of any Bread under 130kcal <br>
          Anything under 130kcal that's all carbs <br>
      </div>
    </div>

    <hr>

   <h4>Food Choices:</h4>
  <h5>Lean Proteins:</h5>
  <ul>
  <li>Skinless Chicken Breast </li>
  <li>Egg Whites </li>
  <li>Tilapia, Cod, Red Snapper</li>
  <li>Porkchops or Porkloin (trim fat)</li>
  <li>95% lean beef or turkey</li>
  <li>Protein Powder</li>
  </ul>


  <h5>Fatty Proteins:</h5>
  These include almost anything not mentioned in the Lean Protein List. <br>
  Just don't go for something that's more fat than protein; here's some good choices:<br>

  <ul>
    <li>Salmon</li>
    <li>Steak of any cut</li>
    <li>Ground Beef Sirloin</li>
    <li>Add a slice of thick cut bacon to one lean protein portion</li>
    <li>A tablespoon of natural peanut butter and one lean protein portion</li>
  </ul>




  <h5>Carbohydrates:</h5>
  <p>
    In general, unprocessed is going to be a better option than a processed carb,
    that doesn't mean you can't have processed carbs, I encourage it for a couple meals a week
  </p>


  <h5>Unprocessed Carbs:</h5>
  <ul>
    <li>Oats</li>
    <li>Brown or White Rice</li>
    <li>Any Potato or Yams</li>
  </ul>


  <h5>Processed Carbs:</h5>
  <ul>
    <li>Whole Wheat Pasta / Regular Pasta</li>
    <li>Whole Grain Breads</li>
    <li>Rice Cakes</li>
    <li>Sugary Stuff</li>
  </ul>





  Fats:
  Most of our fats are going to come from fatty meats, fish oil supplement, whatever small amounts of oil we use to cook our foods.

  Top Fats:
  Omega 3 (from capsules)
  Nuts & Natural Peanut Butter
  Coconut Oil


  Vegetables:
  Veggies are not optional, and I recommend you have them in two of your meals, you can have as much as you want (with a few exceptions), try to use very little oil when cooking them.

  Here's a list of my favorites:
  Zucchini, Cucumber, Broccoli, Cabbage, Spinach, Lettuce, Kale, Peppers, Green Beans, Brussel Sprouts, Mushrooms.

  These ones are not okay unless you count the carbs in them:
  Potatoes, Carrots, Corn, Peas and Parsnips

  Notes:
  Adding any condiments is fine, but I would forego any salad dressing unless it is very low cal, and you control the amount to less than 50kcals.

  Coconut Oil cooking spray and \"I Can't Believe it's Not Butter\" spray are great for these as well.

  Frozen Veggies are totally fine, just make sure they don't have sauce on them, the microwaveable ones are especially convenient.

  This is my favorite option for the easiest and most convenient vegetable blend, you get it at Costco; just stir fry some and you've got a fantastic blend in terms of nutrition and diversity.

  Fruit:
  No fruit juices or dried fruit allowed, as we lose many of the benefits when they are processed.

  1 Portion of Fruit is equal to:
  1 Medium Banana or Apple
  1.5 Cups of Raspberries, Strawberries or Blackberries  (220g)
  1 Cup of Blueberries or Grapes

  If your favorite fruit isn't listed here, let me know and I'll tell you what the portion is.

    </h2>
  </div>

  <div id="macros-info", class="text-center">
    <h2>
      Info about macros is gonna be right here!
    </h2>
  </div>
  <div id="faq-info", class="text-center">
    <h2>
      Ask me questions, I'l post answers.
    </h2>
  </div>

</div>
