<div class="container">
  <br>
  <div class="wow animated fadeIn" data-wow-delay="0.1s">
    <h2 class="mealplan-title mealplan-title-bottom-padding text-center">How to Diet like a Boss</h2>
    <hr class="form-divider">
  </div>

<div class="info-button-holder">
  <div class="col-xs-4 text-center btn-lg btn btn-danger", id="mealprep-button">
    Mealprep
  </div>
  <div class="col-xs-4 text-center btn-lg btn btn-danger", id="macros-button">
    Macros
  </div>
  <div class="col-xs-4 text-center btn-lg btn btn-danger", id="faq-button">
    FAQ
  </div>

</div>

  <div id="mealprep-info">
    <h3> Meal Prep Rules: </h3>

    <ul>
    <li>Keep it simple.</li>
    <li>Prep meals once or twice a week.</li>
    <li>Follow this 5~6 days of the week, and don't totally binge on your off day.</li>
    <li>Eat veggies with two of your meals every day.</li>
    <li>Eat fruit as one of your carb portions every day.</li>
    <li>One third (rounding down) of your Protein portions come from Fatty Proteins, the rest from Lean Proteins.
  </ul>
   <hr>
    <h3>What are portions?:</h3>

    1 Portion of Protein is equal to:
    125g of Chicken, Fish, Beef or Turkey (MUST be weighed raw)
    1 Scoop of Protein Supplement
    1 Cup of Egg Whites
    Note: All food is to be weighed RAW.

    1 Portion of Carbs is equal to:
    30g of any Rice, Oats or Pasta
    130g Sweet or regular Potato
    1 Slice of any Bread under 120kcal (2 slices if they are 60kcal or less)



   <h4>Food Choices:</h4>
  <h5>Lean Proteins:</h5>
  Skinless Chicken Breast
  Egg Whites
  Tilapia, Cod, Red Snapper
  Porkchops or Porkloin with Fat trimmed off
  95% lean beef or turkey
  Protein Powder

  <h5>Fatty Proteins:</h5>
  For these you can have pretty much anything not mentioned in the Lean Protein List; just don't go for something like extra fatty pork belly, here's some good choices:
  Salmon (Omega 3's!)
  Steak
  90% lean beef or turkey.



  <h5>Carb Choices:</h5>
  Unprocessed Carbs:
  Oats
  Brown or White Rice
  Sweet Potatoes, Yellow Potatoes or Yams

  <h5>Processed:</h5>
  Whole Wheat Pasta / Regular Pasta
  Whole Grain Breads
  Rice Cakes
  Sugary Stuff




  Fats:
  Most of our fats are going to come from fatty meats, fish oil supplement, whatever small amounts of oil we use to cook our foods.

  Top Fats:
  Omega 3 (from capsules)
  Nuts & Natural Peanut Butter
  Coconut Oil


  Vegetables:
  Veggies are not optional, and I recommend you have them in two of your meals, you can have as much as you want (with a few exceptions), try to use very little oil when cooking them.

  Here's a list of my favorites:
  Zucchini, Cucumber, Broccoli, Cabbage, Spinach, Lettuce, Kale, Peppers, Green Beans, Brussel Sprouts, Mushrooms.

  These ones are not okay unless you count the carbs in them:
  Potatoes, Carrots, Corn, Peas and Parsnips

  Notes:
  Adding any condiments is fine, but I would forego any salad dressing unless it is very low cal, and you control the amount to less than 50kcals.

  Coconut Oil cooking spray and \"I Can't Believe it's Not Butter\" spray are great for these as well.

  Frozen Veggies are totally fine, just make sure they don't have sauce on them, the microwaveable ones are especially convenient.

  This is my favorite option for the easiest and most convenient vegetable blend, you get it at Costco; just stir fry some and you've got a fantastic blend in terms of nutrition and diversity.

  Fruit:
  No fruit juices or dried fruit allowed, as we lose many of the benefits when they are processed.

  1 Portion of Fruit is equal to:
  1 Medium Banana or Apple
  1.5 Cups of Raspberries, Strawberries or Blackberries  (220g)
  1 Cup of Blueberries or Grapes

  If your favorite fruit isn't listed here, let me know and I'll tell you what the portion is.

    </h2>
  </div>

  <div id="macros-info", class="text-center">
    <h2>
      Info about macros is gonna be right here!
    </h2>
  </div>
  <div id="faq-info", class="text-center">
    <h2>
      Ask me questions, I'l post answers.
    </h2>
  </div>

</div>
