<div class="container">
  <br>
  <div class="wow animated fadeIn" data-wow-delay="0.1s">
    <h2 class="mealplan-title mealplan-title-bottom-padding text-center">Nutritional Coaching</h2>
    <hr class="form-divider">
  </div>


  <div class="wow animated fadeIn" data-wow-delay="0.2s">
    <span class="bigger-text">
      <br>
      <h3>Why you should consider coaching: </h3>
      <p>
        &emsp;  Hiring a professional will help you cut down the time and effort you spend on achieving your physique and weight goals by a tremendous amount. Besides losing some weight in a healthy and sustainable way (not crash dieting and gaining it all back a week after), you'll <strong>learn</strong> how to manage your weight for the rest of your life; <strong>This is an absolutely invaluable skill.</strong> <br>
        <br>
        Also, having the accountability and guidance will get you the lifestyle habits you'll need to do this long term. <br>
      </p>

      <p>
        <br>
        <h3>What do I offer?</h3>

        <li>A Custom meal plan and all the guidance you need to make sure you succeed. I'll teach you how to mealprep easily and quickly with guaranteed results.</li>  <br>

        <li>Flexible Dieting Coaching where you'll learn everything you need to know to succeed. </li> <br>

        <li>Simple Lifestyle Changes for people who want to have a more relaxed approach without measuring everything they eat, but still see results. </li> <br>

        The main takeaway here is that you'll LEARN how to do all this by yourself, create healthy long term habits and reach your weight goal.



        <br>
        I like to teach all my clients the fundamentals of proper nutrition so that they don't need me after our coaching time is over. <br>
        <br>
        If you're interested, consultations are free and there's no obligations.
      </p>
      <br>
      <p>


      <h3>What results can you expect?</h3>
      <p>
      &emsp; Most of the people I work with want to lose weight, and truth is there's too many variables for me to pinpoint exactly how much weight you'll be able to lose in 12 weeks.

      That being said, the most males lose at LEAST 10lbs in a 12 week period; and females at LEAST 8lbs, IF you stick to the program.
      </p>
      <p>
        For those trying to gain weight and get stronger, it will be a slower process; you will only feasibly gain about half a pound of lean muscle a week (unless you take Vitamin S).
      </p>

      <br>
      <p>

      <h3>How much does it cost?</h3>

      <strong>It's affordable.</strong> Just email me at <strong>brian@mealslice.com</strong> and we can discuss what pricing, and coaching level/style is best for you.<br>
      <br>
      First consultation is free and I'm available for any questions via email at any time; I always respond within 24 hours.
      </p>
      <br>
      <br>
      <em class='red-font'> ~Brian Simmons, CSCS, Lvl.2 USAW, Certified Personal Trainer. </em>
    </span>
    <p></p>
  </div>

</div>
