<div class="container">
  <br>
  <div class="wow animated fadeIn" data-wow-delay="0.1s">
    <h2 class="mealplan-title mealplan-title-bottom-padding text-center">Nutritional Coaching</h2>
    <hr class="form-divider">
  </div>


  <div class="wow animated fadeIn" data-wow-delay="0.2s">
    <span class="bigger-text">
      <br>
      <h3>Why you should consider coaching: </h3>
      <p>
        &emsp;  Hiring a professional will help you cut down the time and effort you spend on achieving your physique and weight goals by a tremendous amount. Besides losing some weight in a healthy and sustainable way (not crash dieting and gaining it all back a week after), you'll <strong>learn</strong> how to do manage your weight for life; <strong>This is an absolutely invaluable skill.</strong> <br>
        <br>
        Also, having the accountability and guidance will get you the lifestyle habits you'll need to do this long term. <br>
      </p>

      <p>
        <br>
        <h3>What do I offer?</h3>

        A 12-week program using a simple diet plan custom tailored to you and all the guidance you need to make sure you succeed. <br><br>

        The diet plan is easy to follow, gives you freedom with food choices and more importantly, it gets results!

        <br>
        I like to teach my clients the fundamentals of proper nutrition so that they don't need me after 12 weeks. <br>
        <br>
        If you're interested, consultations are free and there's no obligations.
      </p>
      <br>
      <p>


      <h3>What results can you expect?</h3>

      &emsp; Most of the people I work with want to lose weight, and in my experience there too many variables for me to pinpoint exactly how much weight you'll lose in 12 weeks; I can tell you I've had people lose up to 15 pounds in a healthy way without starving themselves.

      That being said, the average for an adult male who does weight training is about 10 pounds; and for females it's about 8 pounds.

      For those trying to gain weight and get stronger, this is a slower process; you can only feasibly gain about half a pound of quality weight a week, and anything over that will come with accompanying fat.
      </p>
      <br>
      <p>

      <h3>How much does it cost?</h3>

      The cost for the 12-week program is $300, and it includes: <br>
      <br>
      <strong>Initial Meeting:</strong>
           <li>I explain the tracking rules, answer any questions you may have, give you your nutrition goals, food recommendations, etc.</li>
           <li>You are required to keep a Nutrition Diary for the first 3 weeks. Maintaining a Nutrition Diary for any time after that shouldn't be necessary as by this time you will have all your meals and portions figured out.</li>
           <br>
      <strong>Second Week Check-in:</strong>
           <li>A recap of how week 1 went, some small adjustments and recommendations, and a review of your Nutrition Diary for the first week.</li>
           <li>From here on, Check-in's will be Bi-weekly</li>
           <br>
      <strong>Check-in's at weeks 3, 5, 7, 9, 11, and at the end of week 12:</strong>
           <li>These will be simple; I'll review your spreadsheet, we can talk about diet ideas and make some small adjustments to your current plan to make sure you're on track throughout the whole way.</li>
           <br>
      The Initial Meeting happens over Skype unless you happen to live in the Houston Area, where we can meet in person; All Check-in's happen over Skype.

      I am available for any questions via email at any time; I always respond within 24 hours.
      </p>
      <br>
      <p>
      <h3>Still interested?</h3>
      Great! Just send an email to brian@mealslice.com and tell me what your goals are; we'll set up a free consultation over Skype and I'll answer all your questions.
      </p>
      <br>
      <em class='red-font'> ~Brian Simmons, CSCS, Lvl.2 USAW, Certified Personal Trainer. </em>
    </span>
    <p></p>
  </div>

</div>
