<div class="container">
  <br>
  <div class="wow animated fadeIn" data-wow-delay="0.1s">
    <h2 class="mealplan-title mealplan-title-bottom-padding text-center">Coming Soon to mealslice.com</h2>
    <hr class="form-divider">
  </div>


  <div class="wow animated fadeIn" data-wow-delay="0.2s">
    <span class="bigger-text">
      I'll make you a better version of yourself every day.<br>
      I can make you a custom meal plan, workout routine, and help you with lifestyle changes.<br>
      I can also design custom Weightlifting/Powerlifting program to address your specific weaknesses or prepare you for a meet. <br><br>
      Feel free to ask me any questions or contact me at bsimmonsn (at) gmail (dot) com, I'll be more than happy to help.<br>
      <br>
      <em> ~Brian Simmons, CSCS, Lvl.2 USAW, Certified Personal Trainer. </em>
    </span>
    <p></p>
  </div>

</div>
