$mainColor: #3498db;

.guest-macro-form, .guest-macro-box {
  font-size: 2em;
  line-height: 150%;
}
.huge-text {
  font-size: 2em;
}
.alert {
  font-size: 2em;
}

.header-main {
  color: #ecf0f1;
  font-size: 2.5em;
  background-color: #337AB7;
  padding-bottom: 7px;
  margin-bottom: 20px;
}

.macro-footer {
  position: fixed;
  bottom: 20px;
  right: 0px;
  left: 0px;
  font-size: 3.5em;
  background-color: $mainColor;
  padding: 10px;
  padding-bottom: 20px;
}
body {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #555;
  background-color: #34495e;
}
