.notch-buttons {
  font-size: 0.5em;
}
.signin-button {
  margin-left: 20px;
}
.signup-quote {
  padding-bottom: 15px;
}
.workout-scheme {
  padding-bottom: 0px;
  margin-bottom: 10px;
}
.meal-title {
  font-size: 1.3em;
}
.meal-body {
  font-size: 1.1em;
}
.smaller-text {
  font-size: 0.8em;
}
.meals {
  margin-left: 20px;
}
.mealplan-title {
  color: #e74c3c;
}
.mealplan-title-bottom-padding {
  padding-bottom: 0px;
}
.button-bottom-margin {
  margin-bottom: 35px;
}
.macro-footer {
  color: #ecf0f1;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  font-size: 1.0em;
  background-color: #e74c3c;
  padding: 5px;
  padding-bottom: 5px;
}
.macro-footer-text {
  font-size: 1em;
}
.macro-footer-text-kcals {
  font-size: 1.2em;
}
.container-edit {
  padding-bottom: 70px;
}
.food-search-title {
  padding-top: 25px;
  padding-bottom: 0px;
  margin-bottom: 15px;
}
.food-search-name {
  font-size: 1.4em;
}
.navbar-logo {
  margin-left: 3%;
  width: 110px;
}
.bigger-text {
  font-size: 1.4em;
}
.hidden-form {
  display: none;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.home-box-size {
  height: 210px;
  }
  .macro-footer-text {
    font-size: 1.4em;
  }
  .macro-footer-text-kcals {
    font-size: 1.6em;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .home-box-size {
  height: 285px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
.home-box-size {
  height: 260px;
  }
}
