$mainColor: #3498db;
$altColor: #8e44ad;
$whitetextColor: #ecf0f1;
$blacktextColor: #555;

.guest-macro-form, .guest-macro-box, .login-form {
  font-size: 1em;
  line-height: 130%;
}
.huge-text {
  font-size: 1.4em;
}
.alert {
  font-size: 1.4em;
}

.header-main {
  a {
    color: #ecf0f1;
    font-size: 1.5em;
  }
  background-color: #337AB7;
  padding-bottom: 7px;
  margin-bottom: 20px;
}
.mealplan-header {
  color: $whitetextColor;
  font-size: 1.2em;
}

.macro-footer {
  color: $whitetextColor;
  position: fixed;
  bottom: 50px;
  right: 0px;
  left: 0px;
  font-size: 1.0em;
  background-color: $mainColor;
  padding: 5px;
  padding-bottom: 5px;
}
.macro-footer-2 {
  color: $whitetextColor;
  position: fixed;
  bottom: 1px;
  right: 0px;
  left: 0px;
  font-size: 1.0em;
  background-color: $altColor;
  padding: 5px;
  padding-bottom: 5px;
}
body {
  font-family: "Helvetica", "Arial", sans-serif;
  color: $whitetextColor;
  background-color: #34495e;
  .guest-macro-form, .guest-macro-box, .login-form {
      color: $blacktextColor;
  }
}
.intro-text {
  color: $whitetextColor;
}
.btn-spacer {
  margin-left: 10px;
}
.form-divider {
  border: 1px solid $blacktextColor;
}

body {
  padding-bottom: 120px;
}
